WORDPRESS_SITE_URL=http://localhost:8181
WORDPRESS_SITE_TITLE="My WooCommerce Store"
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_ACTIVE_THEME=storefront

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=db_user
WORDPRESS_DB_PASSWORD=db_pass
WORDPRESS_DB_HOST=localhost
WORDPRESS_DB_ROOT_PASSWORD=mdp


WOOCOMMERCE_STORE_ADDRESS="123 Main St"
WOOCOMMERCE_STORE_ADDRESS_2="Apt 1" 
WOOCOMMERCE_STORE_CITY="New York"
WOOCOMMERCE_DEFAULT_COUNTRY=US:NY
WOOCOMMERCE_STORE_POSTCODE=12345

PHP_VERSION=7.4
WORDPRESS_VERSION=latest
WOOCOMMERCE_VERSION=latest
WP_CLI_PATH="/usr/local/bin/wp"
